* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);

    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 5vmin;
    height:100vh;
    margin:0;
    width:100vw;
    position: relative;
    padding: 0;
    line-height: 1em;
}

.app {
    width: 100%;
    height: 100%;
}

.foot {
    bottom: 0;
    position: absolute;
    padding: 0px;
    background-color: #000;
    color: #fff;
    width: 100%;
}
/* Portrait layout (default) */
.my-add-link {
    display: block;
    width: 3em;
    padding: 1em;
    background-color: #ff0000;
    color: #ffffff;
}
.test1 {
    height: 1em;
    width: 10em;
    background-color: #f00;
    display: inline-block;
}
.test2 {
    height: 1em;
    width: 10em;
    background-color: #0f0;
    display: inline-block;
}
.ln1 {
    height: 1em;
    width: 10em;
    background-color: #00f;
}
.ln2 {
    height: 1em;
    width: 10em;
    background-color: #0ff;
}